*{
    margin: 0;
    padding: 0;
}
ul{
    position: fixed;
    background-color: #304753;
}
li{
    display: inline;
    padding-left: 5%;
    background-color: #304753;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: #304753;
    padding: 4px 25px;
    text-align: center;
    border: 5px solid white;
    font-size: 30px;
    font-family: "Among";
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0px;
  }
@font-face {
    font-family: "Among";
    src: url("../tipografia/AMONG.otf");
}